* {
  box-sizing: border-box;
}

html,body{

  min-width: 1050px;
  overflow-y: hidden;
}
 
:global {

  .context-menu-list {
    min-width: 2em !important;
  }

  .context-menu-item {
    padding: .2em 1em !important;
  }

}

