
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
:global {
	.iconfont {
	  font-family:"iconfont" !important;
	  font-size:16px;
	  font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	
	.icon-delete:before { content: "\e692"; }
	
	.icon-svg11:before { content: "\e832"; }
	
	.icon-category:before { content: "\e677"; }
	
	.icon-baocun:before { content: "\e60f"; }
	
	.icon-close:before { content: "\e6ac"; }
	
	.icon-iconfontdayinji:before { content: "\e605"; }
	
	.icon-tishi1:before { content: "\e621"; }
	
	.icon-bianji:before { content: "\e6d9"; }
	
	.icon-chakan:before { content: "\e6da"; }
	
	.icon-canshudaoru:before { content: "\e6db"; }
	
	.icon-biaopei:before { content: "\e6dc"; }
	
	.icon-dakaiwenjian:before { content: "\e6dd"; }
	
	.icon-daochu:before { content: "\e6de"; }
	
	.icon-daoruzhanwei:before { content: "\e6df"; }
	
	.icon-feibiaoxunjiadanbianhao:before { content: "\e6e0"; }
	
	.icon-hetonghao:before { content: "\e6e2"; }
	
	.icon-liebiaozhankai:before { content: "\e6e3"; }
	
	.icon-shanchu:before { content: "\e6e4"; }
	
	.icon-sousuoicon:before { content: "\e6e5"; }
	
	.icon-touxiangzhankaibtn:before { content: "\e6e6"; }
	
	.icon-xiangmudizhi:before { content: "\e6e7"; }
	
	.icon-xinjianxiangmu:before { content: "\e6e8"; }
	
	.icon-xinjiangroup:before { content: "\e6e9"; }
	
	.icon-xiugaishijian:before { content: "\e6ec"; }
	
	.icon-daoru:before { content: "\e6ed"; }
	
	.icon-yizu:before { content: "\e6f1"; }
	
	.icon-xinzengAHU:before { content: "\e6f2"; }
	
	.icon-fuzhi:before { content: "\e6f3"; }
	
	.icon-fanhui:before { content: "\e6f4"; }
	
	.icon-baogao:before { content: "\e6f6"; }
	
	.icon-category-copy:before { content: "\e6f7"; }
	
	.icon-gongju:before { content: "\e702"; }
	
	.icon-peizhijizu:before { content: "\e707"; }
	
	.icon-tishi:before { content: "\e708"; }
	
	.icon-mianbanbuzhi:before { content: "\e709"; }
	
	.icon-jizushuxingpeizhi:before { content: "\e70a"; }
	
	.icon-guidang:before { content: "\e70b"; }
	
	.icon-xiaoshouyuan:before { content: "\e70c"; }
	
	.icon-tianjia:before { content: "\e70d"; }
}
