.fl{
    float: left;
}
.fr{
    float: right;
}
/*头部*/
.pro_head .logo_righ {
    width: 800px;
}
.pro_head .header-login {
    width: 280px;
}
.pro_head  .seach a{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,.2);
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
.mar10{
    margin-right: 10px;
}
.pro_head  .seach a i{
    vertical-align: middle;
    filter: Alpha(Opacity=80);
    opacity: 0.8;
    font-size: 18px;
    position: relative;
        top: -3px;
}
.pro_head  .seach a .sizesty{

    position: relative;
    top:-3px;
    filter: Alpha(Opacity=80);
    opacity: 0.8;
}
.pro_head .header-login .seach{
    padding-right: 16px;
}
.pro_head .header-info ul > li{
    padding:0;
    margin-right:15px;
}
.pro_head .header-info ul > li:last-child{
    margin-right: 0;
}
.pro_head .header-info ul > li a{
    width: 150px;
    display: inline-block;
    height: 28px;
    float: left;
    line-height: 28px;
    text-align: center;
    margin-top: 15px;
    padding:0;
}

/*底部*/

.derig_min .fotop{
    min-width:inherit;
    margin:0;
}
    /*border-top: 1px solid #e6e7e8;*/
    /*padding-top: 15px;   */
/*}*/
.footer .fotop span{
    color:#999999;
    padding:0 5px;
}
.derig_min .footer p{
    padding-top:10px;
}
/*main*/
.main{
    background: #f4f5f7;
    width: 100%;
    height: 100%;
    min-width: 1280px;
    position: relative;
    overflow-x: hidden;
}
/*pro-----*/
.rotasty9{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
}
/*左*/
.deploy_min{
    background-color: #f4f5f7;
}
.deploy_min .dep_lef{
    width: 220px;
    background: #f4f5f7;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    left:0;
    top:60px;
}
.deploy_min .dep_lef .delef_cont{
    width: 100%;
    float: left;
}
.dep_lef .delef_cont h2{
    height: 55px;
    line-height: 55px;
    padding: 0 20px 0 14px;
    color: #333333;
    background: #fff;
    font-size: 18px;
}
.dep_lef .delef_cont  h2 i{
    float: right;
    color: #536072;
    cursor: pointer;
}
.delef_cont h2.sty{
    background: #f4f5f7;
    border-top: 1px solid #e2e4ea;
    /*border-bottom: 1px solid #e2e4ea;*/
}


/*3.16*/
.delef_botm{
    padding: 0 10px 0 14px;
    height:630px;
    overflow: hidden;
    float: right;
    background: #fff;
}
.delef_botm li{
    overflow:hidden;
    margin-right:10px;
    float:left;
    margin-bottom:23px;
}
.delef_botm li a{
    text-decoration:none;
}
.delef_botm li .debot_box{
    width:52px;
    height:52px;
    border:1px solid #e8eaf1;
    border-radius: 5px;
    background:#f3f4f8;
    display:block;
}
.delef_botm li .debot_tex{
    text-align: center;
    margin-top: 5px;
    color:#8a95a3
}
.ps-container .ps-scrollbar-y{
    background-color: #158ce6;
}
.iscro_sty{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.debot_box .de_iconbox{
    width: 30px;
    height:30px;
    display: block;
    margin: 0 auto;
    position: relative;
    top:11px;

}
.debot_mix .de_iconbox{
    width: 33px;
    height: 34px;
    top: 8px;
}
.debot_box .de_iconbox img{
    width: 100%;
    height: 100%;
    display: block;
}



/*中*/
/*右侧内容区*/
.derig_min{
    padding-left: 222px;
    margin-top: 60px;
}
.deploy_min .dep_cen{
    width:100%;
    height: auto;
}

.dep_cen .declc_box li p{
    float: left;
    color: #333333;
}
.decen_top .decto{
    width:33%;
    float: left;
}

.dep_cen .decen_top{
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.dep_cen .decen_top li{
    float: left;
    width: 33.3%;
}
.decl_com {
    margin: 20px 0;
    overflow: hidden;
    border-right:1px solid #e7e9ee;
}
.decl_com .declc_box li .decom2{
    margin-right: 20px;
}
.decl_com .declc_box li p b{
    margin-left: 9px;
    margin-right: 4px;
}
.oldgeycol{
    color: #5d5d5d;
}
.geycol{
    color: #999;
}
.grencol{
    color: #19b72c;
}
.bluclo{
    color: #25c2cb;
}
.purclo{
    color: #8e6cfb;
}
.decto .decl_com{
    margin-left: 35px;
    padding-right: 35px;
}
.decto.decl_com table{
    width: 100%;
}
.decto.decl_com table thead{
    text-align: left;
    font-size: 14px;
}
.decto .decl_com table thead th{
    height: 30px;
    vertical-align: top;
    font-size: 14px;
}
.decto .decl_com table tbody{
    margin: 0 35px;
    font-size: 12px;
}
.decto .decl_com table tbody td{
    line-height: 30px;
}
.decto .decl_com  td b{
    width: 30px;
    display: inline-block;
    text-align:right;
}
.decto_lef .decl_com  td b{
    text-align: center;
}

.decto .decl_com table tbody td em{
    width: 25px;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}
.decto_lef .decl_com table tbody td em{
    margin-left:0px;
    width: auto;
}
.decto table{
    width: 100%;
}
/*left_tabe1*/
.decto_lef .decl_com{
    margin-left: 20px;
    padding-right: 28px;
}
.decto_lef .com_img span{
    display: block;
    width: 20px;
    height: 13px;
    position: relative;
    top: 4px;
}
.decto_lef .com_img span img{
    width: 100%;
    height: 100%;
    display: block;
}
.decto_lef .decom1{
    width: 48px;
    height: 20px;
    background: #f3f4f8;
    display: block;
    text-align: center;
    line-height: 20px;
    border-radius: 15px;
    color: #738092;
}
.decto_lef table th:first-child{
    width: 27%;
}
.decto_lef table th{
    width: 36.5%;
}
.decto_lef table td:first-child{
    width: 27%;
}
.decto_lef table td:nth-child(2){
    text-align: center;
}
.decto_lef table td:nth-child(3){
    text-align: right;
}
.decto_lef table td{
    width: 36.5%;
}
.decto_lef table{
    margin-bottom: 20px;
}
.decto_lef table:last-child{
    margin-bottom: 0;
}
.decto_rig .tex_sty p:last-child{
    position: relative;
    top: -12px;
}
.decto_rig .num_sty td{
    text-align: left;
    padding-top:10px;
}
.decto_rig .decl_com .num_sty td b
{
    font-size: 18px;
    text-align: left;
}
.num_sty td p{
    width: 41px;
    height: 11px;
    overflow: hidden;
}
.num_sty td p img{
    width: 100%;
    height: 100%;
    display: block;
}
.num_sty td.purcol p{
    width: 49px;
    height: 9px;
    overflow: hidden;
}
.decto_cen .decl_com{
    padding-bottom:22px;
}
.decto_rig .decl_com{
    border-right: none;
}

/*中下*/
.decen_botm{
    background: url("../images/wg.png");
    border-top:1px solid #b7bec7;
    border-bottom: 1px solid #b7bec7;
    padding:15px 0px;
}
.decen_botm .decen_btmtcont{
    padding:17px  20px 38px;
    overflow: hidden;
}
.decen_botm .decen_btmtcont h2{
    font-size: 14px;
    height: 37px;
    line-height: 35px;
}
.decen_btmtcont  .tis{
    color: #fe5050;
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}
.decen_btmtcont .deleicon{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #fe5050;
    box-shadow: -0px 5px 20px rgba(254, 80, 80, 0.3);
    cursor: pointer;
}
.decen_btmtcont .deleicon i{
    color: #fff;
    font-size: 18px;
}
.decen_img{
    color: #d0d0d0;
}
.decen_img span{
    width: 18px;
    height: 13px;
    display: inline-block;
    margin-right: 8px;
}
.decen_img span img{
    width:100%;
    height: 100%;
    display: block;
}

.decen_img{
	margin-left:20px;
}

.decen_img.fr{
	margin-right:20px;
}
.gre_grid{
    margin:10px 0;
    border:1px solid #25c2cb;
    background-color: rgba(37,194,203,.1);
}
.gre_grid .grid_top{
    height: 68px;
    border-bottom: 1px solid #25c2cb;
    text-align: center;
    /*overflow: hidden;*/
}
.gre_grid .grid_top .grid_box{
    margin-left: 128px;
    position: relative;
    top: 5px;
}
.gre_grid .grid_btm{
    /*padding-top:40px;*/
    padding-bottom: 0;
    border-bottom: none;
    margin-left: 377px;

}
.grid_top span{
    width: 62px;
    height: 57px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    float: left;
}
.grid_top span img{
    width: 100%;
    height: 100%;
    display: block;
}
.grid_top  .grid_icon{
    width: 62px;
    height: 62px;
    position: relative;
    top: -5px;
}
.decen_btm {
    padding:35px 0 37px 0;
    text-align: center;
    background: #fff;
}
.decen_btm button{
    width: 105px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}
.decen_btm .debtm_btn1{
    background:#727d8b;
    box-shadow: -0px 5px 20px rgba(114, 125, 139, 0.3);
    margin-right: 20px;
}
.decen_btm .debtm_btn2{
    background:#3274cf;
    box-shadow: -0px 5px 20px rgba(50, 116, 207, 0.3);
    margin-right: 20px;
}
.decen_btm .debtm_btn3{
    background: #6dd4a9;
    box-shadow: -0px 5px 20px rgba(50, 116, 207, 0.3);
    margin-right: 5px;
}
.decen_btm .debtm_btn2:last-child{
  margin-right: 0
}
.base{
    width: 100%;
    margin:20px 0;
    background: #fff;
}
.base .ba_cap{
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #333;
    padding:0 20px;
}
/*右*/
.deploy_min .dep_rig{
    height:100%;
    background: #e8eaf1;
    overflow: hidden;
}
.dep_rig dl{
    margin-top: 290px;
    text-align: center;
    margin-bottom: 250px;
}
.dep_rig dl dt{
    width: 108px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding-right: 9px;
}
.dep_rig dl dt img{
    width: 100%;
    height: 100%;
    display: block;
}
.dep_rig dl dd p{
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
    color: #c8ccd6;
}
.decen_airflo .rota_decenimg span{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);
}
.dep_cenleft{
    width: 76%;
}
.none{
    display: none;
}
.moveimg{
  position: relative;
  top: -16px;
  left: -30px;
}
/*右侧*/
.deprig_top h2{
  font-size:19px;
  color: #333;
  height:58px;
  line-height: 55px;
    padding: 0 15px;
}
.deprig_top{
  overflow: hidden;
  background: #e8eaf1
}
/*tab切换*/
.detop_ul{
    border-bottom: 1px solid #d0d3dd;
    height: 35px;
    position: relative;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 0;
}
.detop_ul li{
    width:50%;
    height: 35px;
    line-height: 35px;
    float: left;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    border: 1px solid #d0d3dd;
    /*border-bottom: 0;*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #ecedf1;
}
.detop_ul li.cur:first-child{
    border-right: 0;
}
.detop_ul li.cur:last-child{
    border-left: 0;
}
.detop_ul li.cur{
    border: 1px solid #d0d3dd;
    border-bottom: none;
    background: #e8eaf1;
}

.detop_ul li.cur a{
    color:#3274cf
}

.deprig_top ul li a{
  color:#666666;
    text-decoration: none;
}
/*end tab切换*/
.deprigcont{
  /*height: 525px;*/
  width: 100%;
}
/*tab cont*/
 .deprigcont .botm_li .botm_zk{
    float: right;
}
.deprigcont .botm_li{
    padding:0 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #dee1e7;
    border-radius: 0;
}
.deprigcont .botm_li .panel-heading{
    background-color: transparent;
    padding:0;
}
.deprigcont .botm_li .botm_cap{
    padding:18px 0;
}
.deprigcont .delist li label{
    width: 30%;
    float: left;
    margin-bottom: 0;
    line-height: 26px;
    font-weight: normal;
}
.deprigcont .delist li.delist_li{
    margin-top:10px;
    height: 26px;
}
.deprigcont .delist{
    padding-bottom: 28px;
}
.deprigcont .delist li .delis_cont{
    width:70%;
    float: left;
    background: #ffffff;
    position: relative;
    height: 26px;
    line-height: 26px;
    color: #333333;
}
.deprigcont .delist li .delis_cont input{
    position: absolute;
    left: 0px;
    height: 26px;
    border: none;
     background:transparent;
    width: 70%;
    padding-left: 9px;
}
.deprigcont .delist li .delis_cont span{
    position: absolute;
    right: 6px;
    width: 70%;
    text-align: right;
    color: #999999;
}
.deprigcont .botm_li .botm_cap .bmcap_lef{
    font-size: 14px;
}
.deprigcont .delist li .label_select input{
    width: 100%;
    background: url(../images/down_icon.png) 95% center no-repeat;
}
.deprigcont  .label_select .select-list{
    width: 100%;
    top: 35px
}
.deprigcont .icon_down{
    top: 29px;
}
/*机组尺寸*/
.deprigcont .cq .delist_li{
    height: 22px;
}
.deprigcont .cq .delist_li span{
    width: 30%;
    display: inline-block;
    text-space:5px;

}
.deprigcont .cq .delist_li p{
    width: 70%;
    float: right;
    text-align: right;
}
.deprigcont .depri_tables{
    width: 100%;
}
.deprigcont .depri_tables th,.deprigcont .depri_tables td{
    width: 50%;
    text-align: center;
}
.deprigcont .depri_tables th{
    background: #dde2f1;
    color: #333333;
    line-height: 34px;

}
.deprigcont .depri_tables td{
    background: #f7f8fb;
    line-height: 30px;
    border-bottom: 1px solid #eaedf6;
    color: #666666;
}
.deprigcont .depri_tables .redcol td{
    color:#fe5050 ;
    background: #eff1f8;
}
.depri_bton{
    margin: 0 auto;
    text-align: center;
}
.depri_btn{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #3274cf;
    color: #fff;
    font-size: 14px;
    margin:20px 0 20px 0;
}
.deprigcont .delist li .install{
    background: transparent;
}
/*check*/
.deprigcont .delist li .install label{
    width: 12px;
    height: 12px;
    display: inline-block;
    top: 8px;
    background-position: 0px -23px;
}
.deprigcont .delist li .install  input{
    width: 100%;
    height: auto;
}

.deprigcont .delist li .install .on_check {
    background-position: 0px 0px;
}
.deprigcont  .tj_icon i{
    font-size: 31px;
    color: #c2c7d7;
}
.deprigcont  .tj_tex{
    color: #536072;
}
.deprigcont  .tj{
    margin:8px 0 38px 0;
    text-align: center;
}
.clok .clo_bt{
    height: 40px;
    color: #fff;
    background: #3274cf;
    font-size: 16px;
    width: 47%;
    border-radius: 5px;
    margin:20px 0 20px 0;
}
.clok .clo_close{
    margin-right: 2%;
    background: #8ab4ef;
}
.clok{
    text-align: center;
    padding: 0 15px;
}
.deprig_top ul li a:hover{
    text-decoration: none;
}
.deprigcont .panel-group{
    margin-bottom: 0;
}
.minheig{
    min-height: 438px;
}
.test_check{
    position: relative;
}
.test_check .news-list{
    position: absolute;
    right: 62%;
    top: 17px;
}
.test_check .news-list .alrlist.on_check {
    background-position: 0px 4px;
}
.test_check .news-list .alrlist{
    background-position: 0px -19px;
}
.letter_spacing{
    letter-spacing: 18px;
}
/*438*/
/*混合段*/

.wind_btn a{
    padding:4px 14px;
    background: #dfe1e7;
    color: #738092;
    font-size: 14px;
    border-radius: 15px;
    margin: 5px 0;
    display: inline-block;
}
.wind_decont .test_check .news-list{
    left:14%;
}
.bluecolr{
    color: #3274cf;
}
.wind_ask{
    width: 30%;
    float: left;
}
.wind_ask span{
    line-height: 26px;
    display: inline-block;
    float: left;
    margin-left: 16%;
}
.deprigcont .radio_box .radio_list{
    width: 100%;
    height: 26px;
    background: url(../images/redio_btn.png) no-repeat;
    background-position: 0px -25px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    top:1px;
}
.deprigcont .radio_box .radio_list input{
    width: 100%;
    position: absolute;
    left: 0;
}
.deprigcont .radio_box .on_check{
    background-position: 0px 8px;
}
.radio_box .radio_list .radioclass {
    opacity: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
/*混合形式*/
.mixd_box{
    padding-bottom: 30px;
    overflow: hidden;
}
.mixd_xs{
    width: 50%;
    float: left;
    text-align: left;
    margin-top:18px;
}
.mixd_xs .alrlist{
    top: -2px;
}
.mixd_box span{
    font-size: 12px;
}

/*end 混合形式*/
/*end 混合段*/
.grid_box a{
    float: left;
}
.grid_box a img{
    width: 100%;
    height: 100%;
    display: block;
}
.marlef{
    margin-left:13px;
}