.fl{
    float: left;
}
.fr{
    float: right;
}

/*头部*/
.header {
    background: #3274cf;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.header-content{
    min-width: 1200px;
    margin: 0 0 40px;
    height: 60px;
}
.header .logo {
    width: 350px;
    height: 60px;
    float: left;
}
.header .logo img{
    width: 100%;
    height: 100%;
    display: block;
}
.logo_righ{
    width: 544px;
    float: right;
}
.header-info{
    overflow: hidden;
    float: left;
}
.header-info ul:first-child > li{
    float: left;
    font-size: 16px;
    /*margin: 0 23px;*/
    line-height: 58px;
    padding: 0 5px;
    filter: Alpha(Opacity=70);
    opacity: 0.7;
}
.header-info ul:first-child > li a{
   color:#ebf0f9;
    background:rgba(0,0,0,.1);
    font-size: 15px;
    padding: 6px 18px;
    border-radius: 15px;

}
.header-info ul:first-child > li a i{
    margin-right: 6px;
    filter: Alpha(Opacity=60);
    opacity: 0.6;
}
.header-login{
    width: 218px;
    height:60px;
    float: right;
}
.header-login .seach{
    height: 36px;
    line-height: 36px;
    margin-top: 11px;
    border-right: 1px solid rgba(255,255,255,0.3);
    padding-right: 30px;
    float: left;
}
.header-login .seach i{
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
}
.header-login  dl{
    float: left;
    overflow: hidden;
    margin-top: 9px;
    padding-left: 20px;
}
.header-login  dl dt{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.header-login  dl dt img{
    width: 100%;
    height: 100%;
    display: block;
}

.header-login  dl dd p{
    color: #fff;
}
.header-login  dl dd p:first-child{
    margin-bottom: 6px;
}
.header-login  dl dd p:last-child{
    filter: Alpha(Opacity=80);
    opacity: 0.8;
}
.header-login .down{
    line-height: 60px;
    color: #fff;
}
/*尾部*/
.footer{
    width: 100%;
    background: #f4f5f7;
}
.footer .fotop{
    min-width: 1200px;
    margin:0 40px;
    border-top:1px solid #e6e7e8;
    padding-top:15px;
    text-align: center;
}
.footer .fotop span{
    color:#999999;
    padding:0 5px;
}
/*.fot_lef a{*/
    /*border-right: 1px solid #cacfd6;*/
    /*padding:0 11px;*/
/*}*/
/*.fot_lef a:first-child{*/
    /*padding-left: 0;*/
/*}*/
/*.fot_lef a:last-child{*/
    /*border-right: 0;*/
/*}*/
.footer p{
    padding:10px 0 16px 0;
    color:#999999;
    text-align: center;
}

/*main*/
.main{
    background: #f4f5f7;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1280px;
    position: relative;
}
.promain{
    margin-top:60px;
}
.main .pro_con{
    min-width: 1200px;
    margin: 0 40px;
}
.pro_cap{
    margin:20px 0;
    overflow: hidden;
}
.pro_cap li{
    /*border: 1px solid #babfd0;*/
    color: #fff;
    width: 120px;
    height: 32px;
    float: left;
    line-height: 32px;
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
    background: #3070d2;
}
.pro_cap li i{
    position: relative;
    top: 1px;
}

.pro_cont{
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    /*padding-bottom: 30px;*/
    margin-bottom: 20px;
}
 .pro_cont:last-child{
    margin-bottom:30px;
}
.pro_cont .con_cap{
    padding: 0 20px;
    border-bottom: 2px solid #e8eaf1;
    overflow: hidden;
    height: 58px;
}
.pro_cont .con_cap b{
  font-size: 13px;
  line-height: 58px;
  color: #333333
}
.pro_cont .con_cap .conca_fl{
    padding-top: 15px;
    /*padding-bottom: 12px;*/
    color: #b0b0b0;
    font-size: 12px;
}
.pro_cont .con_cap .conca_fl .cir{
    width: 3px;
    height: 3px;
    background: #c2c6d1;
    display: inline-block;
    margin-left: 4px;
}
.pro_cont .con_cap .conca_fl li:first-child{
    font-weight: bold;
    padding-bottom: 6px;
    /*border-bottom: 2px solid #e5e5e5;*/
    color:#333333;
    font-size: 18px;
}

.pro_cont .con_cap .conca_fr{
    width: 512px;
}
.con_cap .conca_fr .contabs{
    margin-top:20px
}
.con_cap .conca_fr .contabs li{
    float: left;
    padding:0 24px;
    border-right: 1px solid #d0d3dd;
    font-weight: bold;
    color:#738092;
}
.con_cap .conca_fr .contabs li:last-child{
    border-right: none;
}
.con_cap .conca_fr .contabs li a{
    color: #738092;
    text-decoration: none;
}
.con_cap .conca_fr .contabs li a.active{
    color: #3274cf;
    text-decoration: none;
}
.con_cap .conca_fr .conchose li{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background: #f3f4f8;
    border: 1px solid #e8eaf1;
    float: left;
    text-align: center;
    line-height: 32px;
    margin-top: 13px;
    margin-right:10px;
}
.con_cap .conca_fr .conchose .col1.active{
    background: #f3f4f8;
}
.con_cap .conca_fr .conchose .col2.active{
    background: #0cbfca;
}
.con_cap .conca_fr .conchose .col3.active{
    background: #3274cf;
}
.con_cap .conca_fr .conchose .col4.active{
    background: #fe5050;
}
.con_cap .conca_fr .conchose li i{
    font-size: 19px;
    color: #a0a9b5;
}
.con_cap .conca_fr .conchose .col1 i.active{
    color: #a0a9b5;
}
.con_cap .conca_fr .conchose li i.active{
    color: #fff;
}
.con_cap .conca_fr .conchose li:last-child{
    margin-right:0;
}
/*.con_cap .conca_fr .conchose li:hover{*/
    /*background: #fff;*/
/*}*/
.con_bottom{
    overflow: hidden;
    min-width: 1200px;
    padding-bottom: 28px;
      padding-left: 25px;
}
.botm_rig{
    text-align: center;
    min-width:177px;
    width: 14%;


}
.botm_rig .btmrig_cir{
    float: left;
}
.botm_rig h2{
  text-align: center;
  font-size: 22px;
  margin-top: 22px;
  margin-bottom: 10px;
}
.botm_rig h2 em{
    font-size: 12px;
    margin-left: 3px;
}
.botm_rig .echar_img{
    width: 146px;
    height: 73px;
    margin: 0 auto;
    margin-bottom: 7px;
}
.botm_rig .rig_tex{
    margin-bottom: 25px;
    color: #999999;
}
.botm_rig .rig_btn{
    width: 135px;
    height: 40px;
    border-radius: 5px;
    background: #3274cf;
    /*box-shadow: -0px 5px 20px rgba(50, 116, 207, 0.8);*/
}
.botm_rig .rig_btn a{
    color: #fff !important;
}
.botm_cent{
  /*min-width: 1023px;*/
  width: 80%;
}
.botm_cent .cen_top{
  width: 100%;
  margin-top:20px;
}
.botm_cent .cen_top td{
  width: 33%;
}
.botm_cent .cen_top dl{
    margin-bottom: 0;
}
.botm_cent .cen_top .item1{

}
.botm_cent .cen_top .item3{

}
.botm_cent .cen_top dt{
    width: 56px;
    height: 56px;
    overflow: hidden;
}
.botm_cent .cen_top dt img{
    width: 100%;
    height: 100%;
    display: block;
}
.botm_cent .cen_top dd p{
    margin: 8px 0;
    margin-left: 14px;
    color: #a0a0a0;
}
.botm_cent .cen_top dd b{
    font-size: 15px;
    margin-left: 13px;
    color: #333333;
}
.botm_cent .cen_btm{
    margin-top:24px;
    width: 100%;
    overflow: hidden;
}
.botm_cent .cenbtm_lef{
    border-right: 1px solid #e8eaf1;
    width: 45%;
    float: left;
    padding-left: 5px;

}
.botm_cent .cenbtm_lef li:last-child{
  margin-bottom: 0;
}
.botm_cent .cenbtm_rig{
    width: 45%;
    padding-left:70px;
    border-right: 0
}
.botm_cent .cenbtm_lef li{
    margin-bottom: 10px;
}
.botm_cent .cenbtm_lef  em{
    font-size: 15px;
    background:#f3f4f8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
}
.botm_cent .cenbtm_lef  em i{
    color: #545c75;
}

.botm_cent .cenbtm_lef span{
    font-size: 14px;
    width: 128px;
    display: inline-block;
    color: #a7a7a7;
}
.botm_cent .cenbtm_rig span{
  width: 94px;
}
.botm_cent .cenbtm_lef  b{
    font-size:12px;
    display: inline-block;
    color: #707070;
}
.botm_cent .cenbtm_rig p{
    padding-left: 45px;
    color: #666666;
}
.more{
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    background: #e6e7e8;
    width: 100%;
    line-height: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}
.loding{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
}
.loding img{
    width: 100%;
    height: 100%;
    display: block;
}

/*com_projects-----------------*/
.compro_main{
    margin-top:60px;
}
.compro_main .com_cap li:first-child{
    width: 64px;
    border: none;
    color: #3070d2;
    background:transparent;
}
.compro_main .com_cont{
    padding-bottom: 0;
}
.compro_main .com_cap a{
    text-decoration: none;
}
.compro_main .com_cont .conca_fr{
    width: auto;
}
.compro_main .con_cap{
  padding: 0 20px;
  height: 70px;
  border-bottom: 0;
}
.compro_main .con_cap .conca_fr .contabs{
  margin-top:25px;
}


/*table*/
.com_bottom{
    width: 100%;
}
.com_bottom thead th:nth-child(1){
    width: 6%;
}
.com_bottom thead th:nth-child(2){
    width: 7%;
}
.com_bottom thead th:nth-child(3){
    width: 7%;
}
.com_bottom thead th:nth-child(4){
    width:7%;
}
.com_bottom thead th:nth-child(5){
    width: 7%;
}
.com_bottom thead th:nth-child(6){
    width: 5%;
}

.com_bottom thead th:nth-child(7){
    width: 7%;
}
.com_bottom thead th:nth-child(8){
    width:7%;
}
.com_bottom thead th:nth-child(9){
    width: 9%;
}
.com_bottom thead th:nth-child(10){
    width:6%;
}
.com_bottom thead th:nth-child(11){
    width:32%;
}

.com_bottom tbody td:nth-child(1){
    width: 6%;
}
.com_bottom tbody td:nth-child(2){
    width: 7%;
}
.com_bottom tbody td:nth-child(3){
    width: 7%;
}
.com_bottom tbody td:nth-child(4){
    width:7%;
}
.com_bottom tbody td:nth-child(5){
    width: 7%;
}
.com_bottom tbody td:nth-child(6){
    width: 5%;
}

.com_bottom tbody td:nth-child(7){
    width: 7%;
}
.com_bottom tbody td:nth-child(8){
    width:7%;
}
.com_bottom tbody td:nth-child(9){
    width: 9%;
}
.com_bottom tbody td:nth-child(10){
    width:6%;
}
.com_bottom tbody td:nth-child(11){
    width:32%;
}
.com_bottom tbody td{
    text-align: center;
    height: 69px;
    /*line-height: 69px;*/
    border-bottom: 1px solid #e8eaf1;
    color: #333;
}
.com_bottom tbody  tr:last-child td{
    border-bottom: none;
}
.com_bottom thead{
   height: 48px;
    background: #e8eaf1;
    color: #536072;
    line-height: 48px;
}
.com_cont .con_cap{
    border-bottom: none;
    position:relative;
    height: 60px;
}
.com_bottom tbody td .cir{
    height: 30px;
    width: 48px;
    display: block;
    background: #f3f4f8;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    margin: 0 auto;
}
.com_bottom tbody td .wpric{
    height: 28px;
    width: 72px;
    display: block;
    background: #25c2cb;
    text-align: center;
    line-height: 28px;
    border-radius: 15px;
    margin: 0 auto;
    color: #fff;
}
.com_bottom tbody td .price{
    background: #8e6cfb;
}
.com_bottom tbody td .time .time_y{
    margin-right: 10px;
}
.com_bottom tbody td .icon_img{
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 37px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: -0px 2px 15px rgba(0, 0, 0, 0.1);
    color: #757c89;
    position: relative;
}
.com_bottom tbody td .icon_img:last-child{
    margin-right:0;
}
.com_bottom tbody td.num{
    color: #b8b8b8;
}

/*flex icon */
.com_bottom tbody td .icon_img .tb_icon{
    position: absolute;
    top: -30px;
    left: -8px;
    display: none;
    cursor: pointer;
}
 .com_bottom tbody td .icon_img .tb_icon .bg{
     position: relative;
     width: 51px;
     height: 23px;
     background: #727d8b;
     z-index: 9;
     display: block;
     border-radius: 5px;
 }
.com_bottom tbody td .icon_img .tb_icon .bgwid{
     width: 71px;
 }
.com_bottom tbody td .icon_img .tb_icon i{
    position: relative;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #727d8b;
    z-index: 8;
    display: block;
    top: -2px;
    left: 21px;
}
.com_bottom tbody td .icon_img .tb_icon .tex{
    display: block;
    position: relative;
    top: -37px;
    color: #fff;
    z-index: 10;
}
.com_bottom tbody td .icon_img.blucor:hover{
    background: #3274cf;
}
.com_bottom tbody td .icon_img.hover_icon:hover i{
    color: #fff;
}
.com_bottom tbody td .icon_img.redcor:hover{
    background: #fe5050;
}
.com_bottom tbody td .icon_img.grecor:hover.grecor{
   background:#19b82c;
}
/*非标准配置*/
.com_bottom tbody td .icon_img .tb_icon.ta_iconbp{
    left: -18px;
}
.com_bottom tbody td .icon_img .tb_icon.ta_iconbp i{
    left: 31px;
}
/*end_icon*/
.com_bottom tbody td .grencolr{
    color: #19b82c;
}
.down_btn.downicon .iconzk i{
    display: block;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);
}
/*状态*/
.com_bottom tbody td .zt em{
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
}
/*颜色*/
.graycol{
  background: #abafba
}
.blucol{/*蓝色*/
    background: #4c97fe
}
.grecol{/*绿色*/
    background: #19b82c
}
.cyacol{/*青色*/
    background: #25c2cb
}
.yelcol{/*黄色*/
    background: #f8bb02
}

/*cap righ icon*/
.com_cont .contabs{
    margin-right: 36px;
}
.com_cont .conchose{
    margin-right: 35px;
}
.com_cont .conchose li a:hover{
    text-decoration: none;
}
.com_cont .conchose li a{
    text-decoration: none;
}
.com_cont .iconzk{
    position: absolute;
    right: 0;
    height:60px;
    line-height: 60px;
    cursor: pointer;
}
.com_cont .conca_fr{
    position: relative;
}
.compro_main .com_cont a:hover{

}

/*home madal*/
.homModal{
    z-index: 99999;
    margin-top:50px;
}
.homModal .modal-title{
  font-size: 16px;
  color: #fff
}
.homModal .modal-header{
  background-color: #4c74ac;
  padding:20px;
  border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.zktab{
  margin-left:20px;
  font-size: 14px;
    cursor: pointer;
}
.zktab i{
  vertical-align: middle;
  font-size: 14px;
  margin-left: 5px;
}
.homModal .modal-dialog {
    min-width: 913px;
}
.moda_list .cap{
    height:60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 20px 0 15px;
    color: #333;
    font-weight: 600;
    background-color: #f1f2f6;
    border-bottom: 1px solid #ddd;
}
.moda_list .cap span{
    width: 34px;
    height:34px;
    display:inline-block;
    position: relative;
    top: -3px;
    vertical-align: middle;
}
.moda_list .cap i{
    float: right;
    position: relative;
    top: 2px;
    left: -5px;
    color: #536072;
}
.moda_list .cap em{
    float: right;
    width: 30px;
    cursor: pointer;
}

.homModal img{
    width: 100%;
    height: 100%;
    display: block;

}
.homModal  .modal-body{
    padding:0;
}
.homModal .moda_cont{
    padding: 0 60px 0 30px;
}
.homModal .moda_cont>ol>li{
    padding-top: 30px;
    float: left;
}
/*.homModal .moda_cont .tex_cap{*/
    /*margin-bottom:0px;*/
    /*color: #333;*/
    /*font-size: 16px;*/
    /*display: block;*/
/*}*/



/*modal新建组*/
.homModal .modal-group{
    min-width: 1200px;
}
.homModal .modal-group .modal-header{
    padding:15px 20px;
}
.homModal .modal-group .group_cont{
    margin:40px 20px;
    float: left;
}
.modal-group .group_cont .grpcon_li{
    float: left;
    margin-right: 70px;
}
.modal-group .group_cont .grpcon_li:last-child{
    margin-right: 0;
}
.modal-group .group_cont  .tex_cap{
    height: 34px;
    width: 72px;
    /*margin-right: 16px;*/
     float: left;
     line-height: 34px;
    color: #666666;
    margin-bottom: 0;
}
.modal-group .group_cont  .tex_inp{
    width:228px;
    height:34px;
    border:1px solid #d0d3dd;
    padding-left: 10px;
}
.modal-group .select_box  ul li.ms-selected{
    color: #666;
    background: transparent;
    text-align: center;
}

.modal-group .select_box .selected .ms-drop ul li label{
    text-align: center;
     border-bottom: 1px dashed #eceef2;
}
.modal-group .select_box .selected .ms-drop ul li:last-child label{
    border-bottom: none;
}
.modal-group .select_box  .ms-drop ul li:hover {
    background-color: #fff;
    color: #3274cf;
}
.modal-group .zdy_btn{
    height: 34px;
    width: 84px;
    border:1px solid #e8eaf1;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    background: #f3f4f8;
    margin-left: 10px;
    color: #a6aeb9;
    text-decoration: none;
}
.modal-group .zdy_btn:hover, .zdy_btn:focus {
    text-decoration: none;
}
.modal-group .select_box .selected{
    width: 228px;
}
.modal-group .btn{
    width: 105px;
    height: 41px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(50,116,207,1);
    /*box-shadow: -0px 5px 20px rgba(50,116,207, 0.5);*/

    border:none;
}
.modal-group .btn_close{
    margin-right: 10px;
    background-color: #25c2cb;
    /*box-shadow: -0px 5px 20px rgba(50,116,207, 0.5);*/
}
.modal-group .modal-footer{
   text-align: center;
    padding:44px 0 30px 0;
    border: none;
}
/*新建AHU*/
.new-group .grpcon_li{
    margin-bottom: 20px;
}
.new-group .modal-footer{
    padding-top:15px;
}
/*grup信息*/
/*.group-mease*/
.homModal .icon-close{
    float: right;
    font-size: 18px;
    cursor: pointer;
}
.homModal .group-mease {
    min-width:728px;
}
.group-mease .time{
    color: #a0a0a0;
    font-size: 12px;
}
.homModal .group-mease .modal-body{
    min-height: 175px;
}
.homModal .group-mease .group_cont{
    min-height: 112px;
    margin:30px 50px 20px 50px;
}
.group-mease  .time{
    text-align: center;
    padding-top: 20px;
}
.group-mease  .time .star_times{
    border-right: 1px solid #d6d6d6;
}
.group-mease  .time .star_time{
    margin-left: 16px;
    margin-right:24px;
}
.group-mease  .time .end_times,.group-mease  .time .end_time{
    margin-left: 20px;
}
.group-mease  .time .end_send{
    margin-left: 12px;
}
.group-mease .group_cont .grpcon_li{
    margin-right: 54px;
}
.group-mease .group_cont .grpcon_two{
    float: right;
    margin-right: 0;
}
.group-mease .group_cont  .tex_inp,.group-mease .select_box .selected{
    width: 200px;
}
.modal-group .select_box  ul li.ms-selected{
  color: #3274cf;
}
/*daoru*/
.homModal .dr_group {
    min-width: 772px;
}
.input_dr{
    margin: 30px 30px 15px 15px;
}
.input_dr label{
    width: 88px;
    line-height: 34px;
    margin-bottom: 0;
}

.input_dr .img_tex{
    border: 1px solid #d0d3dd;
    width: 530px;
    line-height: 34px;
    padding-left: 10px;
}
.input_dr button{
    position: relative;
    width: 84px;
    height: 34px;
    border: 1px solid #e8eaf1;
    background: #f3f4f8;
    color: #b1b8c2 ;
    cursor: pointer;
    margin-left: 10px;
}
.input_dr .none_inpt{
    cursor: pointer;
    width: 84px;
    height: 34px;
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0;
}
/*check*/
 .label-checkbox {
    display: inline-block;
}
.homModal  .checkbox{
    margin: 38px 0 28px;
    padding:0 20px;
    font-size: 16px;
    margin-bottom: 25px;
    overflow: hidden;
}
/*.check_cap{*/
    /*width: 146px;*/
/*}*/
.check_cap b{
    color: #333;
}
.checkbox span{
    color: #747474;
    /*margin-left: 10px;*/
}
.check_ul li{
    margin-right: 50px;
}
.check_ul li:last-child{
    margin-right: 0;
}

 .news-list .alrlist {
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    background: url("../images/check_btn.png") no-repeat;
     background-position: 0px -15px;
     position: relative;
     top:1px;
}
.news-list .on_check {
    background-position: 0px 8px;
}
.news-list .alrlist .radioclass {
    opacity: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
/*//end check*/
/*select*/
 .label_select span {
    font-size: 12px;
    color: #787878;
    padding-right: 5px;
}
 .label_select {
    height: 34px;
    display: block;
    position: relative;
}
.icon_down{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    right: 10px;
    top: 35px;
    z-index: 991;

}
 .label_select input {
    width: 96px;
    height: 22px;
    padding: 0 20px 0 8px;
    border: 1px solid #959595;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    background: url(../images/down_icon.png) 206px center no-repeat;/*//下拉图标*/
}
 .label_select .select-list {
    width:228px;
    height: 120px;
    position: absolute;
    right:0;
    top: 41px;
    background: #fff;
    overflow: hidden;
    z-index: 99;
     box-shadow: 0px 0px 20px rgba(0,0,0, 0.2);
}
 .label_select .select-list li {
    height: 30px;
    line-height: 30px;
     text-align: center;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
     border-bottom: 1px dashed #eceef2;
}
.label_select .select-list li:last-child{
    border-bottom: none;
}
.label_select .select-list li.active {
    color: #3274cf;
}
 .label_select .select-list li:hover {
     color: #3274cf;
}
 .label_select div.placeholder {
    width: 100%;
    height: 20px;
    float: left;
}
 .label_select .btn {
    display: block;
    float: right;
    margin-right: 25px;
    padding: 7px 32px;
    color: #58a0da;
    border-radius: 30px;
    border: 1px solid #58a0da;
}
 .label_select .btn-sure {
    background: #58a0da;
    color: #fff;
}
.hide {
    display: none!important;
}
.modal_block{
    display: block!important;
}
.modal .ps-container .ps-scrollbar-y{
    background-color: #158ce6;
}

/*group 信息*/
.group-mease .bgposition{
    background: url(../images/down_icon.png) 175px center no-repeat;
}
/*end select*/
/*生成报告*/
.homModal .repa_group{
    /*min-width: 910px;*/
    min-width: 620px;
}
.repa_group .modal-body .body_top{
    /*padding:30px 30px 30px 20px;*/
    background: #fff;
}
.repa_group .modal-body .input_dr{
    margin:0;
    overflow: hidden;
}
.repa_group .modal-body .input_dr label.cap{
    font-size: 16px;
    width: 94px;
    text-align: right;
    margin-right: 20px;
}
.repa_group .input_dr .img_tex{
    width: 318px;
}
.repor_cont .check_box{
    overflow: hidden;
    margin-bottom: 0;
}
.repor_cont .check_box li{
    float: left;
    margin-right: 36px;
    overflow: hidden;
}
.repa_group .news-list .alrlist{
    width: auto;
    top: 4px;
}
.repa_group  .modal-body .repor_cont{
    margin-top:40px;
}
.repa_group .repor_cont .news-list span{
    font-size: 12px;
}
.repa_group .body_botm .bmcap_rig{
    float: right;
}

.botm_li{
    padding:0 30px 0 20px;
    border:1px solid #e8eaf1;
}
.botm_li .botm_cap{
    padding:22px 0;
}
.botm_li .botm_cap .bmcap_lef{
    font-size: 16px;
    font-weight: bold;
}
.botm_li .botm_cap .bmcap_rig span{
    font-size: 14px;
    position: relative;
    top: -1px;
    color: #738093;
}
.news-list .botm_cap .alrlist{
    background-position: 0px -22px;
    top:3px;
}
.news-list .botm_cap  .on_check{
    background-position: 0px 1px;
}
.repa_group .body_botm{
    background: #f9fafb;
    margin-bottom: 0;
}
.bom_tablist{
    width: 100%;
    border:0;
    cellspacing:1;
    cellpadding:0;
}
.bom_tablist th,.bom_tablist td{
    text-align: center;
    font-size: 14px;
}
.bom_tablist th{
    line-height: 48px;
    background: #e8eaf1;
    color: #536073;
}
.bom_tablist td{
    padding:30px 0;
    color: #333333;
}
.bom_tablist td .bluecolr{
    color:#3070d2
}

.bom_tablist tbody tr{
    border-bottom: 1px dashed #e8eaf1;
}
.bom_tablist tbody tr:last-child{
    border-bottom: 0;
}
.news-list .bom_tablist .alrlist{
    background-position: 0px -19px;
    top: 2px;
}
.news-list .bom_tablist .on_check {
    background-position: 0px 4px;
}
.repa_group .botm_zk{
    position: relative;
    top: 3px;
    color: #536073;
    float: right;
    padding-left: 20px;
    cursor: pointer;
}
.repa_group .tp{
    top: -7px;
}
.zt em {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
 .rotasty9{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
}
.repa_group .panel-heading{
    padding: 0;
    background: transparent;
}
.panel-group .panel-heading + .panel-collapse > .panel-body{
    border:0;
    padding:0;
}
.panel-group .panel + .panel{
    margin-top:0;

}
.botm_cap .news-list .alrlist{
    top:2px;
}
.botm_cap .botm_zk{
    top:1px;
}
.botm_cap .botm_zk.rotasty9 {
    top: -10px;
}

.repa_group .modal-body{
    padding:0 60px 0 30px;
}
.repa_group .modal-body .martp30{
    margin-top:30px;
}
.repa_group .modal-body .martp40{
    margin-top:40px;
}
.repa_group .modal-footer{
    padding:40px 0;
}
    /*end_生成报告*/
/*确认生成报告*/
.conrepa .modal-body{
    padding:0;
}
.conrepa .modal-body .text{
    text-align: center;
    font-size: 18px;
    margin-top:60px;
    display: block;
    color: #333;
}

/*end 确认生成报告*/
/*参数批量导入*/
.dr_exel .modal-content{
    width: 910px;
}
.dr_tables th{
    text-align: center;
    background: #e8eaf1;
    font-size: 14px;
    border: 1px dashed #dbdee8;
}
.drtab_top{
    padding:10px 0 8px 0;
}
.dr_tables th.drtab_botm{
    padding:9px 0;
    background: #eff1f7;
    width:100px;
}
.dr_exel .modal-body{
    /*overflow-x: auto;*/
}
.dr_exel .modal-body th a{
    padding: 0 20px;
    width: 197px;
    display: block;
    margin: 0 auto;
    color: #536072;
    text-decoration: none;
}
.dr_exel tbody td{
    line-height: 40px;
    border: 1px dashed #dbdee8;
    text-align: center;
}
.dr_exel  .label_select input{
    width: 100%;
    height: 40px;
    background: url(../images/down_icon.png) 168px center no-repeat;
    border:none;
}
.dr_exel .label_select .select-list{
    width: 199px;
    top:46px;
}
.dr_exel   .icon_down{
    top: 41px;
}
/*end参数批量导入*/
/*移动AHU*/
.homModal .conrepa .group_cont{
    margin:30px 0 0 30px;
}
.conrepa .group_cont  .tex_cap{
    width: 156px;
    margin-right: 20px;
    text-align: right;
}
/*end 移动AHU*/
/*.news_group 将下拉框的宽度调试*/

.news_group .label_select .select-list{
    width: 200px;
}
.deprigcont .wind_cont .delist{
    padding-bottom: 20px;
}
/*.deprigcont*/


/*首页的弹框 4.7*/
.homModal .moda_list .panel-heading{
    padding:0;
}
.homModal .moda_list{
    height: 600px;
    overflow-y:auto;
}
.homModal .moda_list .panel{
     margin-bottom:0;
    border:none;
}
.moda_cont_ol .tex_cap{
    width: 98px;
    text-align: right;
    float: left;
    margin-right: 16px;
    line-height: 34px;
    margin-bottom: 0;
    color: #707070;
    font-size: 14px;
}
.moda_cont_ol .label_select input{
    font-size: 14px;
    border: 1px solid #d0d3dd;
    height: 34px;
    width: 288px;
    float: left;
    background: url(../images/down_icon.png) 260px center no-repeat;
    padding:0 0 0 10px;
}

.moda_cont_li .label_select .select-list{
    width: 288px;
}
.moda_cont_li .moda_cont_cap{

    color: #333;
    font-size: 16px;
    display: block;
}
.matp24{
    margin-top: 20px;
}
.matbm20{
    margin-bottom: 20px;
}
/*modal_text*/
.tex_conts{
    width: 288px;
    display: inline-block;
    line-height: 34px;
    position: relative;
    float: left;
    height: 34px;
    border: 1px solid #d0d3dd;
}
.tex_conts input{
    position: absolute;
    left:0px;
    background: transparent;
    width: 80%;
    padding-left: 10px;
    border:none
}
.tex_conts em{
    width: 20%;
    float: right;
    text-align: right;
    right: 10px;
    position: absolute;
    color: #999999;
}
/*end modal text*/

.news-list .install_list{
    background-position: 0px -22px;
    top: 5px;
}
.news-list .install_list.on_check{
    background-position: 0px 0;
}
.news-list  span{
    font-size: 16px;
}

.check_cont .moda_cont_cap{
    width: 96px;
    text-align: right;
    float: left;
    margin-right: 16px;
    line-height: 34px;
    margin-bottom: 0;
    color: #707070;
    font-size: 14px;
}
.check_cont  .news-list{
    min-width: 715px;
    padding-left: 108px;
}
.check_cont  .news-list ul li{
    float: left;
    width: 150px;
    text-align: left;
    margin-bottom:10px
}
.check_cont  .news-list ul{
    overflow: hidden;
}

.check_cont  .news-list ul li span{
    font-size: 12px;
    color:#333333;
    line-height: 34px;
}
.homModal .moda_cont>ol>li.check_cont {
    margin-top:20px;
}
.news_panel .moda_cont_ol .moda_cont_li{
    padding-top:10px;
}
.news_panel .moda_cont_ol {
    overflow: hidden;
    padding-bottom: 10px;
}
/*单层过滤*/
.dc_cont .moda_cont_ol .tex_cap{
    width: 100px;
    margin-right: 12px;
}
.homModal .dc_cont .moda_cont_li {
    width: 100%;
    padding: 10px 0 30px 0;
}
.btns{
    text-align: center;
}
.btns .btn.btn_close {
    margin-right: 10px;
    background-color: #25c2cb;
    /*box-shadow: -0px 5px 20px rgba(50,116,207, 0.5);*/
}
.btns .btn {
    width: 105px;
    height: 41px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(50,116,207,1);
    /*box-shadow: -0px 5px 20px rgba(50,116,207, 0.5);*/
    border: none;
}
.homModal .padbtm30{
    padding-bottom: 30px;
}
.homemodal .moda_list .cap b{
    border-bottom: 0;
}
.fan_cont ol>li.moda_cont_li.check_cont{
    margin: 0;
    padding: 0;
}
.ptc_list .install_list {
    margin-left: 112px;
    float: left;
    width: auto;
    margin-right: 5px;
    top: 1px;
}
.ptc_list{
    height: auto;
}
.ptc_list .install_list input{
    width: auto;
    height: auto;
}
.ptc_list span{
    font-size: 12px;
}
.deploy_li a:hover,.deploy_li a:focus{
    text-decoration: none;
}
.deploy_li a{
    color: #333;
    cursor: pointer;
}
.homemodal .nano { background: #fff; width:100%;height: 600px; }
.homemodal .nano .content { padding: 10px; }
.homemodal .nano > .nano-pane { background:#fff }
.homemodal .nano > .nano-pane > .nano-slider{
    background-color: #158ce6;
}
.zktab_all i{
    display: inline-block;
}
.dr_exel .contentHolder { position:relative; margin:0px auto; padding:0px; width:100%; height: 495px; overflow: hidden; }
.dr_exel .spacer { text-align:center }
.dr_exel .ps-container:hover .ps-scrollbar-x, .ps-container.hover .ps-scrollbar-x{
    display: block;
}
.dr_exel .ps-container .ps-scrollbar-x{
    background-color:#158ce6;
}
.botm_cap .news-list .alrlist.martop{
    top: 1px;
}
.com_cont .com_bottom th{
    text-align: center;
}
/*宽度更改*/
.homModal .modal-dialog.wid700{
    min-width: 700px;
}
.group-mease.wid700 .group_cont  .tex_inp{
    width: 198px;
}

.modal-group .btn-edit{
    background-color:#8e6cfb;
    margin-right: 10px;
}
.homModal .wid540{
    min-width: 540px;
}
/*修改进入项目*/
.com_cont   .com_cont .con_cap .conca_fl li{
    float: left;
}
.com_cont .con_cap .line_left{
    height: 30px;
    width: 6px;
    background: #3274cf;
    top: 15px;
    left: 0px;
    position: absolute;
}
.com_cont .con_cap .conca_fl li:last-child{
    font-size: 14px;
    margin-left: 10px;
    position: relative;
    top: 3px;
}
.com_cont .con_cap .conca_fl li:first-child{
    font-size: 18px;
    color: #3274cf;
    padding-bottom: 0px;
}
.com_cont .con_cap .conca_fl{
    line-height: 60px;
    padding-top:0;
}
.com_cont .con_cap .conca_fr .contabs{
    height: 60px;
    line-height: 60px;
    margin-top:0;
}
.com_cont .con_cap .conca_fr .contabs li{
    line-height: 60px;
    border-right: 0;
}
.com_cont .con_cap .conca_fr .contabs li a{
    border-right: 1px solid #d0d3dd;
    padding-right: 24px;
    height: 20px;
    line-height: 20px;
}


.com_cont .add_box{
    position: relative;
}
.com_cont .add_box .addicon{
    position: absolute;
    left: 0;
    top: -6px;
}
.com_cont .add_box .addicon img{
    width: 100%;
    height: 100%;
    display: block;
}
.com_cont .com_bottom tbody tr:hover{
    background: #eff1f5;
    cursor: pointer;
}
.com_cont .com_bottom tbody tr td:first-child{
    position: relative;
}
.com_cont .com_bottom tbody tr{
    position: relative;
}
.com_cont .com_bottom tbody tr:hover td:first-child:after{

    font-family: "iconfont" !important;
    font-style: normal;
    content: "\e6e3";
    float: left;
    position: absolute;
    left: -4px;
    color: #3274cf;
    font-size: 16px;
    transform: rotate(270deg);
    -ms-transform:rotate(270deg); 	/* IE 9 */
    -moz-transform:rotate(270deg); 	/* Firefox */
    -webkit-transform:rotate(270deg); /* Safari 和 Chrome */
    -o-transform:rotate(270deg);
}

/*进入首页的图标*/
.com_home p{
    margin: 0 auto;
}
.com_home p:first-child{
    width:246px;
    height: 128px;
}
.com_home p:last-child{
    width:105px;
    height: 120px;
}
.com_home p img{
    width: 100%;
    height: 100%;
    display: block;
}
.com_home .load{
    margin-top: 70px;
}
.homelo_box{
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin-top: -159px;
    position: fixed;
}
.com_home{
    background: #f2f2f2;
}

/*4.18进入项目*/
/*新建组*/
.newGroup{
    display: block;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
}

.newGroup .negrp-header{
    background-color: #4c74ac;
    padding: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.newGroup .negrp-header h4{
    font-size: 16px;
    color: #fff;
}
.negrp-body .group_cont .grpcon_li{
    margin-right:0px;
    height: 36px;
    line-height: 36px;
    float: left;
    width: 30%;
}
.negrp-body .group_cont .grpcon_li:last-child{
    width: 40%;
}
.negrp-body .group_cont{
    margin-top:40px;
}
.negrp-body  .grpcon_li .tex_cap{
    width: 88px;
    margin-right: 16px;
    text-align: right;
}
.newGroup .ps-container .ps-scrollbar-y{
    background-color: #158ce6;
}
/*项目首页 ---*/
/*新建项目 */
/*以下修改根据进入项目中的内容*/
.pro_newcont .negrp-body .group_cont{
    float: left;
}
.pro_newcont .negrp-body  .grpcon_li .tex_cap{
    width: 100px;
    color: #707070;
}
.pro_newcont .negrp-body .group_cont .grpcon_li{
    width: 33%;
}
.pro_newcont .negrp-body .group_cont .grpcon_firt_li{
    width: 100%;
}
.pro_newcont  .group_cont  .tex_inp{
    width: 280px;
    color: #333;
}
.pro_newcont .modal-footer{
    padding:0 0 20px;
}
/*!
 * Datetimepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Improvements by Sébastien Malot
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datetimepicker {
    padding: 4px;
    margin-top: 69px;
    white-space: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}
.datetimepicker.datetimepicker-rtl {
    direction: rtl;
}
.datetimepicker.datetimepicker-rtl table tr td span {
    float: right;
}
.datetimepicker > div {
    display: none;
}
.datetimepicker.minutes div.datetimepicker-minutes {
    display: block;
}
.datetimepicker.hours div.datetimepicker-hours {
    display: block;
}
.datetimepicker.days div.datetimepicker-days {
    display: block;
}
.datetimepicker.months div.datetimepicker-months {
    display: block;
}
.datetimepicker.years div.datetimepicker-years {
    display: block;
}
.datetimepicker table {
    margin: 0;
}
.datetimepicker table tr td.minute:hover {
    background: #eeeeee;
    cursor: pointer;
}
.datetimepicker table tr td.hour:hover {
    background: #eeeeee;
    cursor: pointer;
}
.datetimepicker table tr td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}
.datetimepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datetimepicker table tr td span:hover {
    background: #eeeeee;
}
.datetimepicker table tr td span.old {
    color: #999999;
}
.datetimepicker .datetimepicker-hours span {
    height: 26px;
    line-height: 26px;
}
.datetimepicker .datetimepicker-minutes span {
    height: 26px;
    line-height: 26px;
}
.datetimepicker th.switch {
    width: 145px;
}
.datetimepicker-inline {
    width: 220px;
}
.datetimepicker-dropdown,
.datetimepicker-dropdown-left {
    top: 0;
    left: 0;
}
[class*="datetimepicker-dropdown"]:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}
[class*="datetimepicker-dropdown"]:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
}
[class*="datetimepicker-dropdown-top"]:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0;
}
[class*="datetimepicker-dropdown-top"]:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    border-bottom: 0;
}
.datetimepicker-dropdown-bottom-left:before {
    top: -7px;
    right: 6px;
}
.datetimepicker-dropdown-bottom-left:after {
    top: -6px;
    right: 7px;
}
.datetimepicker-dropdown-bottom-right:before {
    top: -7px;
    left: 6px;
}
.datetimepicker-dropdown-bottom-right:after {
    top: -6px;
    left: 7px;
}
.datetimepicker-dropdown-top-left:before {
    bottom: -7px;
    right: 6px;
}
.datetimepicker-dropdown-top-left:after {
    bottom: -6px;
    right: 7px;
}
.datetimepicker-dropdown-top-right:before {
    bottom: -7px;
    left: 6px;
}
.datetimepicker-dropdown-top-right:after {
    bottom: -6px;
    left: 7px;
}
.datetimepicker td,
.datetimepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}
.table-striped .datetimepicker table tr td,
.table-striped .datetimepicker table tr th {
    background-color: transparent;
}
.datetimepicker table tr td.old,
.datetimepicker table tr td.new {
    color: #999999;
}
.datetimepicker table tr td.disabled,
.datetimepicker table tr td.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}
.datetimepicker table tr td.today,
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
    background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: linear-gradient(top, #fdd49a, #fdf59a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
    border-color: #fdf59a #fdf59a #fbed50;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover,
.datetimepicker table tr td.today.disabled:hover,
.datetimepicker table tr td.today.disabled:hover:hover,
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today:hover.disabled,
.datetimepicker table tr td.today.disabled.disabled,
.datetimepicker table tr td.today.disabled:hover.disabled,
.datetimepicker table tr td.today[disabled],
.datetimepicker table tr td.today:hover[disabled],
.datetimepicker table tr td.today.disabled[disabled],
.datetimepicker table tr td.today.disabled:hover[disabled] {
    background-color: #fdf59a;
}
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active {
    background-color: #fbf069 \9;
}
.datetimepicker table tr td.active,
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active:hover:hover,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active.disabled:hover:hover,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active:hover.disabled,
.datetimepicker table tr td.active.disabled.disabled,
.datetimepicker table tr td.active.disabled:hover.disabled,
.datetimepicker table tr td.active[disabled],
.datetimepicker table tr td.active:hover[disabled],
.datetimepicker table tr td.active.disabled[disabled],
.datetimepicker table tr td.active.disabled:hover[disabled] {
    background-color: #0044cc;
}
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
    background-color: #003399 \9;
}
.datetimepicker .datetimepicker-hours table tr td span.hour_am,
.datetimepicker .datetimepicker-hours table tr td span.hour_pm {
    width: 14.6%;
}
.datetimepicker .datetimepicker-hours fieldset legend,
.datetimepicker .datetimepicker-minutes fieldset legend {
    margin-bottom: inherit;
    line-height: 30px;
}
.datetimepicker table tr td span.disabled,
.datetimepicker table tr td span.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}
.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active:hover:hover,
.datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td span.active.disabled:hover:hover,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active:hover.disabled,
.datetimepicker table tr td span.active.disabled.disabled,
.datetimepicker table tr td span.active.disabled:hover.disabled,
.datetimepicker table tr td span.active[disabled],
.datetimepicker table tr td span.active:hover[disabled],
.datetimepicker table tr td span.active.disabled[disabled],
.datetimepicker table tr td span.active.disabled:hover[disabled] {
    background-color: #0044cc;
}
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
    background-color: #003399 \9;
}
.datetimepicker thead tr:first-child th,
.datetimepicker tfoot tr:first-child th {
    cursor: pointer;
}
.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover {
    background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i,
.input-group.date .input-group-addon span {
    cursor: pointer;
    width: 14px;
    height: 14px;
}
.datetimepicker{
    top:275px;
}
.picktime{
    background: url(../images/zl-datetimepicker-icon.png) left top no-repeat;
    background-position: 245px 5px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-arrow-left,.icon-arrow-right {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: top;
    background: url(../images/select-prev.png) left top no-repeat;
}
.icon-arrow-right {
    background: url(../images/select-next.png)left top no-repeat;
}
.datetimepicker{
    z-index: 99!important;
}

/*end date*/
.pro_newcont{
    min-width: 1200px;
}
.exi_tex{
    width:280px;
    float: left;
    height: 34px;
    position: relative;
}
.exi_tex i{
    position: absolute;
    right: 10px;
    top: 0px;
    font-style: normal;
    color: #fd4c4a;
    font-size: 12px;
}
.pro_newcont .time{
    width: 30%;
    float: right;
    text-align: left;
    margin-bottom: 20px;
}
.pro_newcont .time span{
    color: #999;
    margin-right: 20px;
}
.pro_newcont .time em{
    color:#666666;
    margin-left: 12px;
}

/*首页导出*/
.dcome_group{
    width: 820px;
}
.homModal .dcome_group .modal-header{
    padding:15px;
}
.dcome_group .modal-body{
    padding:0;
}
.dcome_group .modal-body .body_top{
    padding:30px 20px;
}
.dcome_group .botm_li{
    padding:0 20px;
    border:none;
    border-bottom: 1px solid #e8eaf1;
}
.dcome_group .botm_li:last-child{
    border-bottom:0
}
.panel-group .panel{
    border-radius: 0;
}
.dcome_group .panel-group{
    border:1px solid #e8eaf1;
}
.dcome_group .input_dr .img_tex{
    width: 438px;
}
/*生成设置*/
.homModal .con_set{
    width: 935px;
}
.body_setcont .news-list{
    float: left;
}
.body_setcont .conset_cap{
    float: left;
}
.conset_btn{
    float: right;
}
.conset_btn button{
    width:70px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    float: left;
    background: #727d8b;
    border-radius: 5px;
}
.btnok{
    margin-right: 10px;
}
.body_setcont .moda_cont_li{
    float: left;
}
.body_setcont .moda_cont_ol .tex_cap{
    width: 70px;
}
.body_setcont .moda_cont_ol .label_select input{
    width: 178px;
}
.dcome_group .botm_cap .news-list .alrlist{
    top: 3px;
}
.dcome_group .botm_cap .news-list .alrlist .radioclass{
    position: relative;
    top: -2px;
}
/*checked*/
.label-checked > input {
    position: absolute;
    z-index: 12;
    margin-top: 0;
    left: 0;
    opacity: 0;
}
.label-checked label {
    background: url(../images/check_btn.png) no-repeat left center;
    background-position: 0px -23px;
    display: block;
    height: 12px;
}
.label-checked > input:checked + label {
    background-position: 0px 0px;
}
.label-checked{
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 auto;
}
.botm_li .botm_cap .bmcap_rig span.label-checked{
    display: inline-block;
    top: 1px;
}
/*checked*/