 .AHU {
  height: 180px;
  padding-top: 20px;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid #b7bec7;
  border-bottom: 1px solid #b7bec7;
}

.InnerAHU {
  padding: 10px;
  border: 1px solid #25c2cb;
  background-color: rgba(37, 194, 203, 0.1);
}

 .AHUContainer {
  height: 120px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #25c2cb;
  background-color: rgba(37, 194, 203, 0.1);
}

.AHUContainer div[data-section] {
  width: 62px;
  height: 62px;
}

 .AHULineContainer01 {
  height: 92px;
  padding-top: 0px;
  text-align: center;
  display: flex
}

 .AHUTwin {
  height: 262px;
  padding-top: 10px;
  border-top: 1px solid #b7bec7;
  border-bottom: 1px solid #b7bec7;
}

 .AHUContainerTwin {
  height: 202px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #25c2cb;
  background-color: rgba(37, 194, 203, 0.1);
}


.AHU div[data-section-completed]::after {
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  position: absolute;
  top: 1px;
  right: 5px;
  font-weight: bold;
  color: green;
}
.parentPanel {
  text-align:center;
  position: relative;
  display: block;
  border-style: solid;
  border-width: 1px;
}
.innerPanel {
  text-align:center;
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  border-style: solid;
  border-width: 1px;
}
