
.PanelRow{
	position: relative;
	/*margin-left: 10px;*/
	margin: 0 0 0 0;
	background: #fdfdfd;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ddd;
	font-variant:normal;
 
}

.PanelDescList{
	display: none;
	list-style: none;
	height: 100%;
	overflow-y: auto;width: 15em;
	margin-left: 0;
	padding: 0;
	font-size: 24px;
	font-weight:bold;
}

.PanelDescList > li{
	float: left;
	width: 50%;
}

.PanelEditing{
	background: #f0f0f0;
}



.rects .PanelRectTip{
	display: block;
}
.rects .PanelIndexTip{
	display: none;
}

.ShowPanelIndex .PanelDescList{
	display: block;
	color: black;
	border-color: black;
}

.ShowPanelIndex .rects .PanelRectTip{
	display: none;
}

.ShowPanelIndex .rects .PanelIndexTip{
	display: inline-block;
}

.PanelEditing .rects .PanelRectTip{
	display: block;
}

.PanelEditing .rects .PanelIndexTip{
	display: none;
}


.PanelLegend{
	/* position: absolute; */
	/* left: 0; */
	width: 180px;
	/* top:0; */
	/*background-color: white;*/
	height: 180px;
	background-position: center;
	background-size:40%;
	background-repeat: no-repeat;
}

.LegendImage{
	float: left;
	width: 200px;
}


.PanelArea {
	/* margin: 0 auto; */
	/* margin-left: 200px; */
	border-width: 1px;
	padding: 20px 0 0 0;
}



.rects {
	position: relative;
	outline: 0px solid gray;
	left: 20px;
	display: flex;
	padding: 0;

}


.PanelEditorBorder{
	padding-top: 30px;
	padding-left: 30px;
	border-width: 5px;
}

.PanelIndexTip{
	font-size: .8em;
	display: inline-block;
	min-width: 1.2em;
	height: 1.2em;
	background: #f1f1f1;
	border-radius: 0.9em;
	line-height: 1.1em;
	text-align: center;
	color:#ccc;
	border:1px solid #ccc;
	margin: 0 5px;
	color: black;
	border-color: black;
}