.Partition {
	min-width: 62px;
	margin: 0px 2px;
	display: inline-block;
	padding: 1px;
	line-height: 1px;
}

.partitionSelectedBody {
	position: relative;
	/*border: 4px solid slateblue;*/
	border: 2px solid darkcyan;
	color: black;
	font-size: smaller;
	background: rgba(44, 118, 206, 0.4);
}


.PartitionMetrics {
	line-height: 13px;
	text-align: center;
	color: slateblue;
	border: 1px solid darkcyan;
	border-top-width:0px;
	border-bottom-width:0px;
}
.PartitionMetricsBottom {
	line-height: 7px;
	text-align: center;
	color: slateblue;
	border: 1px solid darkcyan;

}

.PartitionBody {
	position: relative;
	border: 2px solid darkcyan;
	color: darkblue;
	font-size: smaller;
}

.PartitionNumberDiv {
	z-index: 1;
	position:absolute;
	top: 18px;
	line-height: 20px;
	text-align: center;
}

.PartitionNumber{
	font-size: 14px;
	color: floralwhite;
	display: inline-block;
	border-radius:50%;
	width: 20px;
	height: 20px;
	background: #2C76F0;
}
