.Rect {
    position: relative;

    cursor: pointer;
    text-align: center;

    display: flex;

    background-color: white;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;

    flex-direction:row;

    -webkit-transition: padding ease 200ms;
    -moz-transition: padding ease 200ms;
    -ms-transition: padding ease 200ms;
    -o-transition: padding ease 200ms;
    transition: padding ease 200ms;



}

.TopRect{
    border: 2px solid #000;

}



.RectDivider{
    position: absolute;
    cursor: pointer;
    /*cursor: move;*/
    background-position: center;
    background-repeat: no-repeat;

}
.RectDivider:hover{
    background-color:#f1f1f1;
}


.RectVerticalContainer{
    flex-direction:column;

}

.RectVerticalContainer > .RectDivider{
    position: absolute;
    height: 4px;
    left:0;
    right: 0;
    margin-top: -2px;
    background-size:  100% 100%;
    /*background-size: auto 100%;*/
    /*background: #ccc;*/

}
.HasGap .RectVerticalContainer > .RectDivider{

    /*left:20px;*/
    /*right: 20px;*/
}

.RectHorizonContainer{
    flex-direction:row;

}

.HasGap .RectHorizonContainer > .RectDivider{

    /*top:20px;*/
    /*bottom: 20px;*/
}

.RectHorizonContainer > .RectDivider{
    position: absolute;
    bottom: 0;
    top:0;
    width: 4px;
    margin-left: -2px;
    /*background: #ccc;*/
    background-size: 100% 100%;
    /*background-size: 100% auto;*/
}

.HasRectGap .Rect {
    padding: 20px;
}

/* .RectTip{
    opacity:1;
} */

.Rect > .RectTip{
    position: absolute;
    width: 100%;
    top:0;
    font-size: 0.8em;
    line-height: 1.4em;
    text-align: center;
    left: 0;
    opacity: 1;
    font-size: 16px;
    font-weight:bold;
}

.HasGap div[data-rect] {
    /*padding: 20px;*/
}

:global {

div[data-rect].hover {
    background-color: rgba(37, 194, 203, 0.2);
}



}

.RectSelected{
    background-color: rgba(37, 194, 203, 0.1);
}

.RectSelected > .RectDivider{
    background-color:#f0f0f0;
}
