.app {
    overflow-y: scroll;
    overflow-x: hidden;
}

.login{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 100%;
    background: #333;
    opacity: 0.5;
    /* padding: 12%; */
    /* text-align: center; */
}

.log {
    width: 32px;
    height: 32px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.console {
    width: 300px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0px;
    bottom: 50px;
    color: white;
    padding: 20px;
}

.info {
    color: white;
}

.warning {
    color: yellow;
}

.error {
    color: red;
}

.dn {
    display: none;
}

.footer{
    text-align: center;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

.nav{
    position:fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 16%;
}
.span{
    position: absolute;
    right: 32px;
    bottom: 70px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: white;
}

.inputfile + label svg {
    fill: white;
}

.systemLogin {
    background-image: url(../images/system-img2.png);
    width: 340px;
    height: 220px;
    display: inline-block;
    margin-left: 130px;
    margin-bottom: 20px;
    
}

.systemUpdate {
    background-image: url(../images/system-img1.png);
    width: 268px;
    height: 268px;
    display: inline-block;
    margin-left: 246px;
    margin-bottom: 20px;
}
