.gardenIconBtn{
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 37px;
	display: inline-block;
	background: #ffffff;
	border-radius: 50%;
	margin-right: 10px;
	box-shadow: -0px 2px 15px rgba(0, 0, 0, 0.1);
	color: #757c89;
	position: relative;
}
.gardenIconBtn:hover{
	background-color: #3274cf;
	color: #ffffff;
}
.tbmorSpanHover{
	padding-top: 10px;
	height: 38px;
	display: inline-block;
	margin-top: -10px;
	margin-right:10px;
}
.tbmorSpanHover:hover .tbmorSpan{
	display: block;
}

.tbmorSpan{
	display: none;
	width:80px;
	position:absolute;
	bottom:40px;
	left:-25px;
	z-index: 3;
}

.tbmorSpan em{
	display: block;
	border-radius:4px;
	overflow: hidden;
	background-color:#687283;
}

.tbmorSpan a{
	display: block;
	color: #ffffff;
}
.tbmorSpan a:hover{
	background-color: #3274cf;
	color: #ffffff;
	text-decoration: none;
}

.tbmorSpan a span{
	margin-right:3px;
}

.tbmorSpan i{
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #687383;
	z-index: 8;
	display: block;
	bottom:-7px;
	left: 37px;
}