.newAhuBody{
	padding-top: 8px !important;
}
.itemGroup{
	
}
.newAhuBody label{
	width: 88px;
	margin-right: 16px;
	text-align: right;
	color: #666666;
}

.newAhuBody input,.newAhuBody select{
	width: 228px;
	height: 34px;
	display: inline-block;
	border: 1px solid #d0d3dd;
	padding-left: 10px;
}

.btnGroup{
	margin-top:8px;
	margin-bottom: 16px;
	text-align: center;
}

.btnGroup button{
	width: 105px;
	height: 41px;
	margin: 0 5px;
}