.group {
    padding-top: 20px;
    display: block;
}

.proCap {
    list-style: none;
    height: 32px;
    padding: 0px;
}

.proCap li {
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.proCap .proCapLi {
    width: 120px;
    color: #fff;
    border-radius: 15px;
    background: #3070d2;
}

.proCap li a:hover {
    text-decoration: none;
    color: #23527c;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0
}