.AHU {
  height: 112px;
  padding-top: 2px;
  border-top: 1px solid #b7bec7;
  border-bottom: 1px solid #b7bec7;
  background-image: url(../../images/gezi.png);
}

.AHUContainer {
  height: 70px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #25c2cb;
  background-color: rgba(37, 194, 203, 0.1);
}

.AHUTwin {
  height: 180px;
  padding-top: 2px;
  border-top: 1px solid #b7bec7;
  border-bottom: 1px solid #b7bec7;
  background-image: url(../../images/gezi.png);
}

.AHUContainerTwin {
  height: 132px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #25c2cb;
  background-color: rgba(37, 194, 203, 0.1);
}

.AHUWhele{

}

.AHUPlate{

}

.AHULineContainer {
  height: 52px;
  padding-top: 0px;
  text-align: center;
  /*border: 1px solid #25c2cb;*/
  /*background-color: rgba(37, 194, 203, 0.1);*/
}
.AHULineContainer01 {
  height: 52px;
  padding-top: 0px;
  text-align: center;
  display: flex;
  /*overflow-x:hidden;*/
  /*border: 1px solid #25c2cb;*/
  /*background-color: rgba(37, 194, 203, 0.1);*/
}
.AHULineContainer02 {
  overflow-x:hidden;
}
.AHULineLeftContainer {
  height: 52px;
  padding-top: 0px;
  margin: 0px;
  text-align: right;
  width: 50%;
  /*border: 1px solid #25c2cb;*/
  /*background-color: rgba(37, 194, 203, 0.1);*/
}
.AHULineRightContainer {
  height: 52px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  width: 50%;
  /*border: 1px solid #25c2cb;*/
  /*background-color: rgba(37, 194, 203, 0.1);*/
}

.AHULinePartitionContainer{
  height: 62px;
  padding-top: 0px;
  margin: 0px;
  text-align: right;
  min-width: 100%;
  margin-left: -50%;

}

.AHUContainer div[data-section] {
  /* width: 64px; */
  /* height: 59px; */
  width: 52px;
  height: 50px;
}

div[data-section-selected] {
  position: relative;
  top: -10px;
}

.AHU div[data-section-completed]::after {
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  position: absolute;
  top: 1px;
  right: 5px;
  font-weight: bold;
  color: green;
}
.AHU div[data-section-cannotdrop]::after {
  font-family: 'Glyphicons Halflings';
  content: '\e090';
  position: absolute;
  top: 1px;
  right: 5px;
  font-weight: bold;
  color: red;
}
.AHU div[data-section-nsenable]::before {
  font-family: 'Glyphicons Halflings';
  content: '\e136';
  position: absolute;
  top: 28px;
  left: -8px;
  font-weight: bold;
  color: green;
  opacity: 1;
  background:none;
}

.AHUTwin div[data-section-completed]::after {
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  position: absolute;
  top: 1px;
  right: 5px;
  font-weight: bold;
  color: green;
}
.AHUTwin div[data-section-cannotdrop]::after {
  font-family: 'Glyphicons Halflings';
  content: '\e090';
  position: absolute;
  top: 1px;
  right: 5px;
  font-weight: bold;
  color: red;
}
.AHUTwin div[data-section-nsenable]::before {
  font-family: 'Glyphicons Halflings';
  content: '\e136';
  position: absolute;
  top: 28px;
  /* left: -8px; */
  font-weight: bold;
  color: green;
  opacity: 1;
  background:none;
}


.Hidden {
  display: none;
}
