.fieldFormGroup {
    margin-bottom: 2px;
}

.fieldInput{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 25px;
}


.fieldLabel{
    font-size: 12px;
}
.fieldWarnSpan{
    height: 20px;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    min-width: 140px;
}