/* css file */
.disabledlink {
	pointer-events: none;
}

.ligroup1 {
	background-color: #55AAAA;
}
.ligroup2 {
	background-color: #11FFEE;
}
.ligroup3 {
	background-color: #33EEDD;
}
.ligroup4 {
	background-color: #22DDCC;
}
.ligroup5 {
	background-color: #44BBBB;
}
.ligroup6 {
	background-color: #22DDCC;
}

.group0 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}
.group1 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group2 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group3 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group4 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group5 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group6 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group7 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group8 {
	border-left-width: 10px;
	border-left-color: #55AAAA;
}

.group9 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}

.group9 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}


.group11 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}

.group12 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}

.group13 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}
.group14 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}

.group15 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}

.group16 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}
.group21 {
	border-left-width: 10px;
	border-left-color: #55AAAA;;
}