.Header {
  height: 60px;
  background-color: #3274cf;
}
.sysBtn{
	color: #ebf0f9;
	background: rgba(0,0,0,.1);
	font-size: 15px;
	padding: 6px 18px;
	border-radius: 15px;
	border:none;
	margin: 5px 5px 0 5px;
}
.menuBtn{
	color: #ebf0f9;
	background: rgba(0,0,0,.1);
	font-size: 15px;
	padding: 6px 18px;
	border-radius: 15px;
	border:none;
	float: left;
	margin: 5px 5px 0 5px;
}

.menuBtn:hover{
	color: #ebf0f9;
}

.seach{
	color: #ebf0f9;
	font-size: 15px;
	padding: 6px 18px;
	border:none;
	border-right: 1px solid rgba(255,255,255,0.3);
	float: left;
	margin: 0 15px 0 5px;
}
