.Section {
    width: 52px;
    height: 52px;
    cursor: pointer;
    display: inline-block;
    background-size: cover;
}

/*"Section__mix--8VNIk"*/
.mix {
    background-image: url(../../images/pro_mix_th.png);
}


.combinedFilter {
    background-image: url(../../images/pro_combinedFilter.png);
}

.coolingCoil {
    background-image: url(../../images/pro_coolingCoil.png);
}

.filter {
    background-image: url(../../images/pro_filter.png);
}

.fan {
    background-image: url(../../images/pro_fan_l1.png);
}

.wwkFan {
    background-image: url(../../images/pro_plugfan.png);
}

.wwkFanL {
    background-image: url(../../images/pro_plugfan_l.png);
}

.fanshowBack{
    background-image: url(../../images/pro_fan_t2.png);
}

.heatingCoil {
    background-image: url(../../images/pro_heatingCoil.png);
}

.steamCoil {
    background-image: url(../../images/pro_steamCoil.png);
}

.electricHeatingCoil {
    background-image: url(../../images/pro_blu8.png);
}

.wetfilmHumidifier {
    background-image: url(../../images/pro_wetfilmHumidifier.png);
}

.sprayHumidifier {
    background-image: url(../../images/pro_sprayHumidifier.png);
}

.steamHumidifier {
    background-image: url(../../images/pro_blu11.png);
}

.combinedMixingChamber {
    background-image: url(../../images/pro_blu12.png);
}

.access {
    background-image: url(../../images/pro_blu13.png);
}

.attenuator {
    background-image: url(../../images/pro_blu14.png);
}

.discharge {
    background-image: url(../../images/pro_discharge.png);
}

.HEPAFilter {
    background-image: url(../../images/pro_HEPAFilter.png);
}

.electrodeHumidifier {
    background-image: url(../../images/pro_electrodeHumidifier.png);
}

.electrostaticFilter {
    background-image: url(../../images/pro_electrostaticFilter.png);
}

.ctr {
    background-image: url(../../images/pro_ctr.png);
}

.heatRecycle {
    background-image: url(../../images/pro_heatRecycle.png);
}

.wheelHeatRecycle {
    background-image: url(../../images/pro_wheelHeatRecycle.png);
}

.plateHeatRecycle {
    background-image: url(../../images/pro_plateHeatRecycle.png);
}
.directExpensionCoil {
    background-image: url(../../images/pro_directExpensionCoil.png);
}