.SeriesModal {

}

.gray {
  background-color: gray;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.indicator {
  width: 200px;
  height: 12px;
  border: 1px solid gray;
}
