<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="开利AHU系统"/>
    <meta name="description" content="开利AHU系统"/>
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- IOS6全屏 Chrome高版本全屏 ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <!-- 让360双核浏览器用webkit内核渲染页面 ================================================== -->
    <meta name="renderer" content="webkit"/>

    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{font/iconfont.css}" rel="stylesheet"/>
    <link th:href="@{css/reset.css}" rel="stylesheet"/>
    <link th:href="@{css/projects.css}" rel="stylesheet"/>
</head>
<body>
<div class="login_main">
    <div class="login">
        <h2>登录</h2>
        <form action="/login" method="post" id="loginForm">
            <div class="login_cont">
                <!--账号-->
                <div class="user matbm20">
                    <!--提示-->
                    <i class="errorb  ertext-con1"><span class="error-text"><i class="iconfont icon-tishi"></i>请输入正确的账号！</span></i>
                    <label><i class="iconfont  icon-zhanghao"></i></label>
                    <input type="text" id="loginname" placeholder="请输入您的账号" name="username"/>
                </div>
                <!--密码-->
                <div class="user password">
                    <!--提示-->
                    <i class="errorb  ertext-con2"><span class="error-text"><i class="iconfont icon-tishi"></i>请输入正确的密码！</span></i>
                    <label><i class="iconfont  icon-mima"></i></label>
                    <input type="password" id="password" placeholder="请输入您的密码" name="password"/>
                </div>
                <!--暂不实现
                <div class="lose_pas chek_size">
                  <span class="label-checked">
                     <input type="checkbox" name="" id="td-checkbox8" class=""/>
                     <label for="td-checkbox8"></label>
                  </span>
                  <span class="pas_tex">记住密码</span>
                  <a class="fr" href="#">忘记密码？</a>
                </div>
                -->
                <button type="button" class="lobtn " id="loginBtn">确认登录</button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/project.js}"></script>
<script>
    $("#loginBtn").bind("click",function () {
        var userName = $("#loginname").val();
        if($.trim(userName) == ""){
            $("#loginname").focus();
            alert("请输入账号!");
            return;
        }
        var password = $("#password").val();
        if($.trim(password) == ""){
            $("#password").focus();
            alert("请输入密码!");
            return;
        }
        var form = $("#loginForm");
        form.submit();
    });
</script>
</body>
</html>
